/*     General overwrite     */
body {
    color: #66615b;
    font-size: 14px;
    font-family: 'Muli', Arial, sans-serif;
}
body .wrapper {
    min-height: 100vh;
    position: relative;
}

html, body{margin:0;padding:0;}

h3.title_v_1 { color:#3ba6ca;size:17px;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Muli', "Helvetica", Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 400;
    margin: 30px 0 15px;
}

h1, .h1 {
    font-size: 3.2em;
}

h2, .h2 {
    font-size: 2.6em;
}

h3, .h3 {
    font-size: 1.825em;
    line-height: 1.4;
    margin: 20px 0 10px;
}

h4, .h4 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}

h5, .h5 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6, .h6 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 1.2em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #9A9A9A;
    font-weight: 300;
    line-height: 1.4em;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
    font-size: 60%;
}

.title-uppercase {
    text-transform: uppercase;
}

blockquote {
    font-style: italic;
}

blockquote small {
    font-style: normal;
}

.text-muted {
    color: #DDDDDD;
}

.text-primary, .text-primary:hover {
    color: #427C89;
}

.text-info, .text-info:hover {
    color: #3091B2;
}

.text-success, .text-success:hover {
    color: #42A084;
}

.text-warning, .text-warning:hover {
    color: #BB992F;
}

.text-danger, .text-danger:hover {
    color: #B33C12;
}

.glyphicon {
    line-height: 1;
}

strong {
    color: #403D39;
}

.icon-primary {
    color: #7A9E9F;
}

.icon-info {
    color: #68B3C8;
}

.icon-success {
    color: #7AC29A;
}

.icon-warning {
    color: #F3BB45;
}

.icon-danger {
    color: #EB5E28;
}

.chart-legend .text-primary, .chart-legend .text-primary:hover {
    color: #7A9E9F;
}
.chart-legend .text-info, .chart-legend .text-info:hover {
    color: #68B3C8;
}
.chart-legend .text-success, .chart-legend .text-success:hover {
    color: #7AC29A;
}
.chart-legend .text-warning, .chart-legend .text-warning:hover {
    color: #F3BB45;
}
.chart-legend .text-danger, .chart-legend .text-danger:hover {
    color: #EB5E28;
}


a {
    color: #68B3C8;
}
a:hover, a:focus {
    color: #3091B2;
    text-decoration: none;
}

a:focus, a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: 0 !important;
}

.ui-slider-handle:focus,
.navbar-toggle,
input:focus,
button:focus {
    outline: 0 !important;
}
